.App {
  text-align: center;
}

.App-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 65px);
}

/* background: linear-gradient(90deg, rgba(25,35,70,1) 0%, rgba(1,1,25,1) 100%); */